@import "tailwindcss";

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #faf9f7;
    font-family: "Noto Sans KR", sans-serif;
  }
}
